{% extends 'blog/base.html' %}

{% block body_block %}
    <h4 class="post_title loader">{{ post.title }}</h4>
    {% if post.published_date %}
        <div class="date post_date">
            {{ post.published_date }}
        </div>
    {% else %}
        <a href="{% url 'post_publish' pk=post.pk %}" class="btn btn-outline-secondary">Publish!</a>
    {% endif %}

    <p class="post_content">{{ post.title|safe|linebreaksbr}}</p>

    {% if user.is_authenticated %}
    <div class="btn-group" role="group">
        <a href="{% url 'post_update' pk=post.pk %}" class="btn btn-outline-success">Edit</a>
        <a href="{% url 'post_delete' pk=post.pk %}" class="btn btn-outline-danger">Delete</a>
    </div>
    {% endif %}
    <hr>
    <a href="{% url 'add_comment_to_post' pk=post.pk %}" class="btn btn-outline-primary">Add a comment</a>

    <div class="container">
        {% for comment in post.comments.all %}
            <br>
            {% if user.is_authenticated or comment.approved_comment %}
                {{ comment.create_date }}
                {% if not comment.approved_comment %}
                <div class="btn-group" role="group">
                    <a href="{% url 'comment_approve' pk=comment.pk %}" class="btn btn-outline-success">
                        Approve
                    </a>
                    <a href="{% url 'comment_remove' pk=comment.pk %}" class="btn btn-outline-danger">
                        Delete
                    </a>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
            
{% endblock %}