{% extends 'blog/base.html' %}

{% block body_block %}

<div class="jumbotron">
    <h3>Login</h3>
    <h4 class="lead text-muted">(Must be superuser)</h4>

    {% if form.errors %}
    <div  class="alert alert-danger" role="alert">
        <p>Username and/or password did not match</p>
    </div>
    {% endif%}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {% form.as_p %}
        <input type="submit" value="LOGIN" class="btn btn-outline-secondary">
        <input type="hidden" value="{{ next }}" name="next">
    </form>
</div>

{% endblock %}